In [1]:
import sys
import os
sys.path.append(os.path.dirname(os.getcwd()))
import pandas as pd
import scipy.stats as ss
import numpy as np
import datetime
from datetime import date
import dask.dataframe as dd

In [2]:
from pof.loader.fleet_data import FleetData
from pof.loader.poles_fleet_data_loader import PolesFleetDataLoader

In [ ]:
#############################################
# code to convert txt to csv - NEED TO USE IN SCRIPT
#############################################
import dask.dataframe as dd

path = "C:\\Users\\ischram\\OneDrive - KPMG\\Desktop\\Data"

asset_details = "\\ACS - Poles - Asset Details.txt"
condition_history = "\\ACS - Poles - Condition History.txt"
consequence_model = "\\ACS - Poles - Consequence Model Output.txt"
intervention_history = "\\ACS - Poles - Intervention History.csv"

df = dd.read_csv(
    path + asset_details,
    delimiter="\t",
    blocksize=16 * 1024 * 1024,
    dtype={"Pole Length": "object"},
)

df.to_csv(path + "\\asset.csv", single_file=True, chunksize=1000)

d = dd.read_csv(
    path + condition_history,
    delimiter="\t",
    blocksize=16 * 1024 * 1024,
    dtype={"After Value": "object", "Before Value": "object"},
)

d.to_csv(
    path + "\\condition.csv",
    single_file=True,
    chunksize=1000,
)

txt_chunks = pd.read_csv(
    path + consequence_model,
    delimiter="\t",
    encoding="utf-16",
    chunksize=10000,
)
df = pd.concat(chunk for chunk in txt_chunks)
df.to_csv(path + "\\consequence.csv")

#########################################################

In [3]:
#######################################

##### SMALL DATA TEST POP SUMMARY #######


# number of assets to generate
n_assets = 10

# gen fleet data
fd = FleetData._gen_fleet_data(n_assets = 10)

In [4]:
#attributes to keep and remove
attributes = {"att_1":[], "att_2":[], "age" : [], "code_1_perfect_condition":[], "code_2_condition_loss":[], "code_2_perfect_condition":[]}

remove = None

In [5]:
#populations summary (dask)
summary = fd.get_population_summary(by = attributes, remove = remove, n_bins = 10)

In [6]:
summary.compute()

,att_1,att_2,age,code_1_perfect_condition,code_2_condition_loss,code_2_perfect_condition,count
0,type_1,var_1,7,100.0,NaN,NaN,3
1,type_1,var_2,3,100.0,NaN,NaN,2
2,type_1,var_3,1,100.0,NaN,NaN,1
3,type_1,var_3,6,100.0,NaN,NaN,1
4,type_2,var_1,4,NaN,False,90.0,1
5,type_2,var_1,10,NaN,True,100.0,1
6,type_2,var_2,2,NaN,False,100.0,1
7,type_2,var_2,2,NaN,True,100.0,1
8,type_2,var_2,3,NaN,True,100.0,1
9,type_2,var_3,5,NaN,False,100.0,1
10,type_2,var_3,5,NaN,True,100.0,1