# Illyse 
The purpose of this notebook is to test random concepts

In [1]:
# Set the correct working directory so pof code can be read
import sys
import os
sys.path.append(os.path.dirname(os.getcwd()))

In [2]:
import logging
import datetime
from datetime import date

import dask.dataframe as dd
import numpy as np
import pandas as pd
import scipy.stats as ss

from pof.loader.fleet_data import FleetData
from pof.loader.poles_fleet_data_loader import PolesFleetDataLoader

In [3]:
#######################################

##### SMALL DATA TEST POP SUMMARY #######


# number of assets to generate
n_assets = 10

# gen fleet data
fd = FleetData._gen_fleet_data(n_assets = 10)

In [3]:
#attributes to keep and remove
attributes = {"att_1":[], "att_2":[], "age" : [], "code_1_perfect_condition":[], "code_2_condition_loss":[], "code_2_perfect_condition":[]}

remove = None

In [4]:
#populations summary (dask)
summary = fd.get_population_summary(by = attributes, remove = remove, n_bins = 10)

NameError: name 'fd' is not defined

In [6]:
summary.compute()

,att_1,att_2,age,code_1_perfect_condition,code_2_condition_loss,code_2_perfect_condition,count
0,type_1,var_1,5,100.0,NaN,NaN,1
1,type_1,var_1,6,100.0,NaN,NaN,2
2,type_1,var_2,3,100.0,NaN,NaN,1
3,type_1,var_3,4,100.0,NaN,NaN,1
4,type_1,var_3,10,100.0,NaN,NaN,2
5,type_2,var_1,10,NaN,False,90.0,1
6,type_2,var_1,10,NaN,False,100.0,1
7,type_2,var_2,8,NaN,True,100.0,1
8,type_2,var_2,10,NaN,False,100.0,1
9,type_2,var_3,8,NaN,False,100.0,1
10,type_2,var_3,8,NaN,True,100.0,1

In [11]:
import logging


logging.getLogger().setLevel(logging.DEBUG)

logging.info("Before the for loop")
for i in range(10):
    logging.debug(f"i value is {i}")


logging.info("work completed")

ModuleNotFoundError: No module named 'sleep'