In [1]:
import sys
import os
sys.path.append(os.path.dirname(os.getcwd()))
import pandas as pd
import scipy.stats as ss
import numpy as np
import datetime
from datetime import date
import dask.dataframe as dd

In [2]:
from pof.loader.fleet_data import FleetData
from pof.loader.poles_fleet_data_loader import PolesFleetDataLoader

In [ ]:
#############################################
# code to convert txt to csv - NEED TO USE IN SCRIPT
#############################################
import dask.dataframe as dd

path = "C:\\Users\\ischram\\OneDrive - KPMG\\Desktop\\Data"

asset_details = "\\ACS - Poles - Asset Details.txt"
condition_history = "\\ACS - Poles - Condition History.txt"
consequence_model = "\\ACS - Poles - Consequence Model Output.txt"
intervention_history = "\\ACS - Poles - Intervention History.csv"

df = dd.read_csv(
    path + asset_details,
    delimiter="\t",
    blocksize=16 * 1024 * 1024,
    dtype={"Pole Length": "object"},
)

df.to_csv(path + "\\asset.csv", single_file=True, chunksize=1000)

d = dd.read_csv(
    path + condition_history,
    delimiter="\t",
    blocksize=16 * 1024 * 1024,
    dtype={"After Value": "object", "Before Value": "object"},
)

d.to_csv(
    path + "\\condition.csv",
    single_file=True,
    chunksize=1000,
)

txt_chunks = pd.read_csv(
    path + consequence_model,
    delimiter="\t",
    encoding="utf-16",
    chunksize=10000,
)
df = pd.concat(chunk for chunk in txt_chunks)
df.to_csv(path + "\\consequence.csv")

#########################################################

In [3]:
#######################################

##### SMALL DATA TEST POP SUMMARY #######


# number of assets to generate
n_assets = 10

# gen fleet data
fd = FleetData._gen_fleet_data(n_assets = 10)

In [3]:
#attributes to keep and remove
attributes = {"att_1":[], "att_2":[], "age" : [], "code_1_perfect_condition":[], "code_2_condition_loss":[], "code_2_perfect_condition":[]}

remove = None

In [4]:
#populations summary (dask)
summary = fd.get_population_summary(by = attributes, remove = remove, n_bins = 10)

NameError: name 'fd' is not defined

In [6]:
summary.compute()

,att_1,att_2,age,code_1_perfect_condition,code_2_condition_loss,code_2_perfect_condition,count
0,type_1,var_1,7,100.0,NaN,NaN,3
1,type_1,var_2,3,100.0,NaN,NaN,2
2,type_1,var_3,1,100.0,NaN,NaN,1
3,type_1,var_3,6,100.0,NaN,NaN,1
4,type_2,var_1,4,NaN,False,90.0,1
5,type_2,var_1,10,NaN,True,100.0,1
6,type_2,var_2,2,NaN,False,100.0,1
7,type_2,var_2,2,NaN,True,100.0,1
8,type_2,var_2,3,NaN,True,100.0,1
9,type_2,var_3,5,NaN,False,100.0,1
10,type_2,var_3,5,NaN,True,100.0,1

In [3]:
# imports data
pfd = PolesFleetDataLoader()

loading consequence model
consequence model loaded
loading asset information
asset information loaded
condition data loaded

In [4]:
# creates fleet data object from datapip
fd = pfd.get_fleet_data()

fleet data object created
data validated
age calculated
field types obtained
summarising condition
condition summarised

In [5]:
# attributes to keep in summary
attributes = {
    "pole_material": [],
    "pole_strength": [],
    "age": [],
    "DAGD_perfect_condition": [],
    "DCZD_condition_loss": [True],
    "DPWT_perfect_condition": [],
    "total_csq": [],
}
# attributes to remove from summary
remove = None

# tr = classtracker.ClassTracker()  # pympler
# tr.track_object(fd)  # pympler

# population summary (dask object)
summary = fd.get_population_summary(by=attributes, remove=remove, n_bins=10)

starting population summary
filtering data
merging filtered data
binning numerical data
age
total_csq
computing summary
count summary
summary complete

In [6]:
summary

,pole_material,pole_strength,age,DAGD_perfect_condition,DCZD_condition_loss,DPWT_perfect_condition,total_csq,count
0,Aluminium,1,13.0,170.0,True,85.0,210735.0,1
1,Aluminium,12,13.0,255.0,True,125.0,210735.0,1
2,Aluminium,4,13.0,270.0,True,135.0,210735.0,1
3,Aluminium,4,40.0,300.0,True,150.0,210735.0,1
4,Composite,16,NaN,300.0,True,130.0,210735.0,1
...,...,...,...,...,...,...,...,...
13863,Unknown,6,53.0,320.0,True,160.0,210735.0,1
13864,Unknown,6,93.0,340.0,True,160.0,210735.0,1
13865,Unknown,UNKNOWN,13.0,280.0,True,130.0,417008.0,1
13866,Unknown,UNKNOWN,53.0,280.0,True,40.0,210735.0,1
13867,NaN,6,53.0,280.0,True,140.0,210735.0,1